* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font: 16px Helvetica, Arial;
  }

  form {
    background: gray;
    padding: 3px;
    position: fixed;
    display: flex;
    bottom: 0px;
    width: 100%;
    padding-bottom: 10px;
  }

  form input {
    border: 0;
    padding: 10px;
    width: 100%;
    margin-right: 0.5%;
  }

  form button {
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px 20px;
    margin-top: 5px;
  }
  #progress{
    padding: 5px;
    color: #22f11f;
    display: none;
  }

  #messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 250px;
    display: flex;
    flex-direction: column;
  }

  #messages li {
    padding: 5px 10px;
  }

  #messages li:nth-child(odd) {
    background: #eee;
  }

  .username {
    font-size: 16px;
    color: cornflowerblue;
  }

  #feedback {
    margin-bottom: 10px;
    color: white;
    padding: 10px;

  }

  #overlay {
    height: 100%;
    width: 100%;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inner {
    width: 98vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inner input {
    font-size: 18px;
    padding: 15px;
    border: none;
    height: 100px;
    width: 100%;
  }

  input:focus {
    outline: none;
  }

  .inner button:focus {
    outline: none;
  }

  .inner button {
    background: moccasin;
    color: black;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    height: 100px;
    width: 100%;
  }

  .inner button:hover {
    background: rgb(255, 218, 153);
  }

  ul {
    display: flex;
    justify-content: left;
    flex-direction: column;
    max-width: 100%;
  }
  ul li{
    max-width: 450px;
  }
  ul li img{
    cursor: pointer;
  }

  .imgupload{
    border: 8px solid rgb(91, 138, 91);
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 10px;
  }

  /* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}